.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.shell:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 383px;
  height: 600px;
  left: 935px;
  top: 371px;
  z-index: 1;
  flex-shrink: 0;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.freeBox__eyIrP {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 335px;
  height: auto;
  max-width: 100%;
  top: 406px;
  left: 0px;
  padding: 0px;
  margin: 0px 16px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  width: 410px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
  display: flex;
}
.svg___0MFn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__e6MrR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 259px;
  top: 533px;
  margin-right: 16px;
  display: flex;
}
.svg__cnGgw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__modYa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__aAFwj {
  left: 0px;
  top: 0px;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 57px;
  min-width: 0;
  padding: 8px;
}
.listItem:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.navLevel1:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.h2 {
  font-family: Volte Rounded;
  font-size: 23px;
  font-weight: 600;
  color: var(--token-PBKkCyF5B);
  line-height: 30px;
  letter-spacing: 0px;
}
